{
  "openapi": "3.0.3",
  "info": {
    "title": "Anyoutfit API",
    "version": "1.0.0",
    "description": "API for generating photorealistic images of human models wearing garments for brand and retail businesses. Enables custom photoshoot creation, for a fraction of the price and time.\n\nRate Limits:\n- 100 requests per minute\n- Requests exceeding the limit will receive a `429 Too Many Requests` error."
  },
  "servers": [
    {
      "url": "https://api.anyoutfit.ai"
    }
  ],
  "paths": {
    "/api/create_photo_shoot/": {
      "post": {
        "operationId": "create_photo_shoot_create",
        "tags": [
          "create_photo_shoot"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePhotoShootInputRequest"
              }

            }
          },
          "required": true
        },
        "security": [
          {
            "tokenAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePhotoShootOutput"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CategoryEnum": {
        "enum": [
          "top",
          "bottom",
          "dresses"
        ],
        "type": "string",
        "description": "* `top` - top\n* `bottom` - bottom\n* `dresses` - dresses"
      },
      "CreatePhotoShootInputRequest": {
        "type": "object",
        "properties": {
          "text_prompt": {
            "type": "string",
            "description": "Text prompt to guide the photo generation. Required if model_image_url is not provided."
          },
          "model_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of a predefined model image. Required if text_prompt is not provided."
          },
          "garment_image_url": {
            "type": "string",
            "format": "uri",
            "minLength": 1,
            "description": "URL of the garment image to be used in the photo shoot"
          },
          "category": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CategoryEnum"
              }
            ],
            "description": "Category of the garment. Must be one of: top, bottom, or dresses"
          }
        },
        "required": [
          "category",
          "garment_image_url"
        ]
      },
      "CreatePhotoShootOutput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success"],
            "description": "Status of the request"
          },
          "garment_description": {
            "type": "string",
            "description": "Generated description of the garment"
          },
          "model_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the generated model image"
          },
          "vton_image_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the virtual try-on (VTON) image"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["error"],
            "description": "Status of the request"
          },
          "error_message": {
            "type": "string",
            "description": "A message explaining the error"
          }
        },
        "required": [
          "status",
          "error_message"
        ]
      },
      "BadRequestError": {
        "allOf": [
          { "$ref": "#/components/schemas/ErrorResponse" },
          {
            "example": {
              "status": "error",
              "error_message": "Invalid input: Missing required field 'garment_image_url'"
            }
          }
        ]
      },
      "UnauthorizedError": {
        "allOf": [
          { "$ref": "#/components/schemas/ErrorResponse" },
          {
            "example": {
              "status": "error",
              "error_message": "Authentication failed: Invalid or missing token"
            }
          }
        ]
      },
      "TooManyRequestsError": {
        "allOf": [
          { "$ref": "#/components/schemas/ErrorResponse" },
          {
            "example": {
              "status": "error",
              "error_message": "Rate limit exceeded: Please try again later"
            }
          }
        ]
      },
      "InternalServerError": {
        "allOf": [
          { "$ref": "#/components/schemas/ErrorResponse" },
          {
            "example": {
              "status": "error",
              "error_message": "An unexpected error occurred. Please try again later or contact support."
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Token-based authentication with required prefix \"Token\""
      }
    }
  }
}